include *.txt
include Snakefile
recursive-include cellsnake *.R
recursive-include cellsnake *.py
recursive-include cellsnake *.sh
recursive-include cellsnake *.smk
recursive-include cellsnake Snakefile
recursive-include cellsnake config.yaml
recursive-include cellsnake c2.cgp.v2022.1.Hs.symbols.gmt
